@* login Template File *@
@(userForm: Form[UserVO])(implicit messages: Messages)

@main("Login") {

<body id="login">
  <div class="wrapper">
    <form class="form-signin" action="/" method="POST">       
	  <h2 class="form-signin-heading">UnB - IMDb</h2>
	  <hr/>
      <input type="text" class="form-control" name="Email" id="Email" placeholder="Email Address" required="true" autofocus="" />
	  <input type="password" class="form-control" name="Senha" id="Senha" placeholder="Password" required="true"/>      
      <br/>
      <button class="btn btn-outline-success my-2 my-sm-0 btn-block" type="submit">Entrar</button>
    </form>
  </div>
</body>
}
