@* listagem Template File *@
@(filmes: List[Filme])

@main("IMDb") {

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

	<img src="@routes.Assets.versioned("images/logo-unb.png")" class="img-rounded" width="60">

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/filme/novo">Novo filme</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/filme">Listar filmes</a>
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/logout">Log out</a>
			</li>
		</ul>
    </div>
</nav>

<table class="table">
	<thead class="thead-default">
	<tr>
  		<th>#</th>
  		<th>Titulo</th>
  		<th>Diretor</th>
  		<th>Ano</th>
	</tr>
	</thead>
	<tbody>
    	@for(filme <- filmes) {
			<tr>
				<th scope="row">@filme.id</th> 
	       		<td>@filme.titulo</td> 
				<td>@filme.diretor</td>
				<td>@filme.anoProducao</td>
			</tr>
     	}
	</tbody>
</table>
}
