@* novoFilme Template File *@
@(filmeForm: Form[FilmeVO])(implicit messages: Messages)

@main("Cadastrar filme") {

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

	<img src="@routes.Assets.versioned("images/logo-unb.png")" class="img-rounded" width="60">

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/filme/novo">Novo filme</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="/filme">Listar filmes</a>
			</li>
		</ul>
        <form class="form-inline my-2 my-md-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class=" vertical-center">
	<div class="wrapper">
    	<form class="form-signin" action="/filme" method="POST"> 
			<h2 class="form-signin-heading">Cadastre um novo filme</h2>
			<hr/>
			<input type="text" class="form-control" name="Titulo" id="Titulo" placeholder="Titulo" required="true" autofocus="" />
		  	<input type="text" class="form-control" name="Diretor" id="Diretor" placeholder="Diretor" required="true"/>
		  	<input type="text" class="form-control" name="Ano" id="Ano" placeholder="Ano" required="true"/>       
	      	<br/>
	      	<button class="btn btn-outline-success my-2 my-sm-0 btn-block" type="submit">Entrar</button>
		</form>
	  </div>
</div>
}
